<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="smiley" src="/img/sorry-images.jpg" />
    </div>

    {{>footer}}
</body>

</html>